@import url('https://fonts.googleapis.com/css?family=Lato');
@import "Constants";

$siteFont: 'Lato', sans-serif;

html {
    height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: $siteFont;
  height: 100%;
  overflow-y: hidden;
}

.app {
    font-family: $siteFont;
    height: 100%;
}

.homepage-header {
    text-align: center;
}

#homepage-logo {
    width: 90px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: $white;
    border: none;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    padding: 10px 15px;

    &:hover {
        background-color: $white_dark;
    }

    &.btn-small {
        font-size: 11px;
        height: 23px;
        padding: 4px 8px;
    }

    &.btn-primary {
        background-color: $blue1;
        color: $white;

        &:hover {
            background-color: $blue1_dark;
        }
    }
}

.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.undecorated-link {
    text-decoration: none;
    color: $black;

}
